{% extends 'customer/base_customer.html.twig' %}

{% block title %}Log in !{% endblock %}

{% block body %}

<div class="d-flex justify-content-center backgroundF7F4EF paddingtopbot50">
    <div class=" container py-5">
        <div class="row flexCenter">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                            <form method="post">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3">
                                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                    </div>
                                {% endif %}

                                <div class="textTitleCard paddingtopbot10 backgroundF7F4EF">
                                    <h3 class="text-center">Connectez-vous !</h3>
                                </div>

                                <div>
                                    <label class="margintop20" for="inputEmail">Email</label>
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                    <label class="margintop20" for="inputPassword">Password</label>
                                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                                    <input type="hidden" name="_csrf_token"
                                        value="{{ csrf_token('authenticate') }}"
                                    >

                                    <button class="col-12 btn color-button margintop50" type="submit">Se connecter</button>

                                    <a class="col-12 btn color-button margintop20" href="{{ path('app_register') }}">S'inscrire</a>
                                </div>

                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
