{% extends "customer/base_customer.html.twig" %}

{% block body %}

{% block header %}

	{# PARTIE HEADER #}
	<section class="carousel">
		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner navheight">

				<div class="carousel-item active">
					<img src="\uploads\images\green.jpg" class="d-block w-100 imageCarroussel" alt="salon">
				</div>

				<div class="carousel-item">
					<img src="\uploads\images\coiffure.jpg" class="d-block w-100 imageCarroussel" alt="">
				</div>

			</div>
		</div>
	</section>

{% endblock %}

	{# PARTIE LISTE PRODUITS #}
	<section class="section1">
		<div class="container py-3">
			<div class="row">
				<div class="col-12 mt-3 ">
					{% include "customer/shared/_messages_flash.html.twig" %}
				</div>
				<div class="col-12 marginBot20">
					<h3 class="h3Home">Barber'Cut</h3>
					<h4 class="h4Home">LES DERNIERS PRODUITS</h4>
				</div>


				{% if products %}

					{# boucle qui affiche les derniers produits #}

					{% for i in (products|length - 1)..(products|length - 4) %}
					
						<div class="col-sm-12 col-md-6 col-lg-3 mt-3">
							<div class="card cardStyle1" style="width: 18rem;">
								<img src="{{ asset(products[i].imagePath) }}" alt="{{ products[i].name }}" class="card-img-top">
								<div class="card-body text-center">
									<h5 class="text-center">{{ products[i].name }}</h5>
									<h5 class="text-center">{{ products[i].price | euroPrice }}</h5>
									<a class="btn color-button" href="{{ path('customer_product_id_show',{'id' : products[i].id}) }}">Voir le produit</a>
								</div>
							</div>
						</div>
						
					{% endfor %}
				
				{% endif %}

				
			</div>
		</div>
	</section>


	{# PARTIE SERVICES #}
	<section class="section2">

		<div class="col-12">
			<h3 class="h3Home">Barber'Cut</h3>
			<h4 class="h4Home">NOS SERVICES</h4>
		</div>

		<div class="container py-3 margintop20">

			<div class="row">
			
				<div class="col-sm-12 col-md-6 col-lg-3 mt-3">
					<div class="card cardStyle2 popUpLeft" style="width: 18rem;">
						<div class="card-body text-center">
							<img class="icons margintop20" src="\uploads\images\hair-cut.png" alt="chaise_de_coiffeur">
							<h5 class="text-center margintop20">Cheveux</h5>
							<P class="margintop20">Your content goes here, edit or
							<br> remove this text inline.</P>
						</div>
					</div>
				</div>


				<div class="col-sm-12 col-md-6 col-lg-3 mt-3">
					<div class="card cardStyle2 popUpLeft" style="width: 18rem;">
						<div class="card-body text-center">
							<img class="icons margintop20" src="\uploads\images\beard-shave.png" alt="soins_de_la_barbe">
							<h5 class="text-center margintop20">Barbes</h5>
							<P class="margintop20">Your content goes here, edit or
							<br> remove this text inline.</P>
						</div>
					</div>
				</div>


				<div class="col-sm-12 col-md-6 col-lg-3 mt-3">
					<div class="card cardStyle2 popUpRight" style="width: 18rem;">
						<div class="card-body text-center">
							<img class="icons margintop20" src="\uploads\images\face-care.png" alt="soins_du_visage">
							<h5 class="text-center margintop20">Soins du visage</h5>
							<P class="margintop20">Your content goes here, edit or
							<br> remove this text inline.</P>
						</div>
					</div>
				</div>


				<div class="col-sm-12 col-md-6 col-lg-3 mt-3">
					<div class="card cardStyle2 popUpRight" style="width: 18rem;">
						<div class="card-body text-center">
							<img class="icons margintop20" src="\uploads\images\groom-shave.png" alt="soins_du_visage">
							<h5 class="text-center margintop20">Certifié professionnel</h5>
							<P class="margintop20">Your content goes here, edit or
							<br> remove this text inline.</P>
						</div>
					</div>
				</div>

			</div>

		</div>

	</section>


	{# PARTIE ICONS #}
	<section class="section3">
		<div class="underSection3 transparent col-12">
			<div class="col-md-3 flexCenter section3Text text-focus-in">Moderne</div>
			<div class="col-md-3 flexCenter section3Text">innovant</div>
			<div class="col-md-3 flexCenter section3Text">Luxe</div>
			<div class="col-md-3 flexCenter section3Text">Experience</div>
		</div>	
	</section>



	{# PARTIE CARTE #}
	<section>
		<div>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.9588863319755!2d2.371692215674396!3d48.858994379287466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66df93c73dcbf%3A0x537a5e663704d585!2s35%20Rue%20du%20Chemin%20Vert%2C%2075011%20Paris!5e0!3m2!1sfr!2sfr!4v1642516111204!5m2!1sfr!2sfr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
		</div>
	</section>


{% endblock %}
