<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Administration</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">


				<li class="nav-item">
					<a class="nav-link" href="{{ path('admin_home') }}">Accueil</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="">Gallerie</a>
				</li>

				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Magasin</a>
					<div class="dropdown-menu">
						<a href="{{ path('product_index') }}" class="dropdown-item">Produits</a>
						<a href="{{ path('category_index') }}" class="dropdown-item">catégories</a>
					</div>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="#">FAQ</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{{ path('home') }}">Revenir vers le site</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
				</li>

			</ul>
		</div>
	</div>
</nav>
