<nav class="navbar navbar-expand-lg navcss">

    <div class="container-fluid">

		<div class="col-12">	

			<div class="">

				<button class="navbar-toggler custom-toggler display" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon custom-toggler"></span>
				</button>

			</div>


			<div class="collapse navbar-collapse justify-content-center" id="navbarText">


				<ul class="navbar-nav mb-2 mb-lg-0 d-flex align-items-center">

						<li class="nav-item">
							<a href="#" class="nav-link dropdown-toggle color_nav" data-bs-toggle="dropdown">Magasin</a>
							<div class="dropdown-menu">
								<a href="{{ path('admin_product_show') }}" class="dropdown-item">Produits</a>
								<a href="{{ path('category_index') }}" class="dropdown-item">catégories</a>
							</div>
						</li>

						<li class="nav-item">
							<a class="color_nav" href="{{ path('home') }}">
								<img class="logo color_nav px-4"src="\uploads\images\logo.png" alt="logo_barber_cut">
							</a>
						</li>

						<li class="nav-item">
							<a class="color_nav" href="{{ path('home') }}">Revenir vers le site</a>
						</li>


						<li class="nav-item">
							<a class="color_nav" href="{{ path('app_logout') }}">Se déconnecter</a>
						</li>

				</ul>
			
			</div>

		</div>

	</div>
  
</nav>